node_modules/
.pnp/
.pnp.*

build/
dist/
coverage/
.nyc_output/
*.lcov

.env
.env.*
*.env
!.env.example
!.env.sample
!/.env.development

.vercel/
.vscode/
.idea/

logs/
*.log
*.tsbuildinfo
.eslintcache

.DS_Store
Thumbs.db
Desktop.ini

transition
MEMORY.md
audit.txt
